.game-guide {
  position: absolute;
  width: 30%;
  height: 30%;
  right: 2rem;
  bottom: 2rem;
  text-align: right;
}

.game-guide img {
  height: 100%;
  width: auto;
  display: inline-block;
}

.game-guide.niko {
  width: 70%;
  height: 70%;
}

.game-guide.wizard {
  width: 70%;
  height: 70%;
}
