.dialog {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.dialog-form {
  margin: 5rem;
  background: white;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 3rem 2px rgba(255,255,255, 0.5);
  max-width: 50%;
}

.dialog-message {
  margin: 1rem;
}

.dialog-input-group {
  border: 0;
}

.dialog-button-group {
  border: 0;
}

.dialog-button {

}

.dialog-button-ok {

}

.dialog-button-cancel {

}
