.dialog {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 20%;
}

@media (max-width: 100rem) {
  .dialog {
    margin-left: 0;
  }
}

.dialog-message {
  margin: 1rem;
  font-size: 2rem;
}

.dialog-input-group {
  max-width: 50%;
  margin: 0 5rem 2rem;
  background: white;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 3rem 2px rgba(255,255,255, 0.5);
  min-width: 40rem;
  min-height: 10rem;
}

.dialog-button-group {
  border: 0;
  margin: 0 5rem 8rem;
}

.dialog-input-text {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid orange;
  background: #fff6d9;
}

.dialog-input-text::-webkit-input-placeholder {
  color: #ffc795;
}
.dialog-input-text:-moz-placeholder {
  color: #ffc795;
  opacity: 1;
}
.dialog-input-text::-moz-placeholder {
  color: #ffc795;
  opacity: 1;
}
.dialog-input-text:-ms-input-placeholder {
  color: #ffc795;
}

.dialog-button-ok {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d2821f;
  border-radius: 0.3rem;
  background: rgb(230, 158, 69);
  color: white;
  font-weight: bold;
}
.dialog-button-ok:active {
  background: rgb(202, 110, 67);
}

.dialog-button-cancel {
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d2821f;
  border-radius: 0.3rem;
  background: none;
  color: rgb(230, 158, 69);
  font-weight: bold;
}
.dialog-button-cancel:active {
  background-color: #ffeed9;
}
