.dialog {
  flex: 1;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.dialog-form {
  margin: 5rem;
  background: white;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 3rem 2px rgba(255,255,255, 0.5);
  max-width: 50%;
}

.dialog-message {
  margin: 1rem;
}

.dialog-input-group {
  border: 0;
}

.dialog-button-group {
  border: 0;
}

.dialog-button {

}

.dialog-button-ok {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d2821f;
  border-radius: 0.3rem;
  background: rgb(230, 158, 69);
  color: white;
  font-weight: bold;
}
.dialog-button-ok:active {
  background: rgb(202, 110, 67);
}

.dialog-button-cancel {
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d2821f;
  border-radius: 0.3rem;
  background: none;
  color: rgb(230, 158, 69);
  font-weight: bold;
}
.dialog-button-cancel:active {
  background-color: #ffeed9;
}
