.fullscreen {
  flex: 1;
  flex-direction: row-reverse;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.fullscreen-hobbit {
  background: url(../images/errors.jpeg);
}

.fullscreen-wizard {
  background: url(../images/DarkForse.jpg);
}

.fullscreen-wizard[data-background="Niko"] {
  background: url(../images/kkkk.jpg);
}

.fullscreen-wizard[data-background="wizard"] {
  background: url(../images/lol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
