.fullscreen {
  flex: 1;
  flex-direction: row-reverse;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.fullscreen-hobbit {
  background: url(../images/errors.jpeg);
}

.fullscreen-wizard {
  background: url(../images/DarkForse.jpg);
}